{% extends 'my_base.html' %}
{% block content %}
    <div class="header-bar">
        <a href="{% url 'resumes:index' %}">&#8592;Back</a>
        <a href="{% url 'resumes:edu'%}">&#43;</a>
    </div>
    <div class="card-body">
        <h1>教育經驗</h1>
        {% if educations %}
            <ul>
                {% for education in educations %}
                    <strong><a href="{% url 'resumes:edu-edit' pk=education.pk %}">{{ education.school_name }} - {{ education.major }}</a></strong>
                    <p>學位：{{ education.get_degree_display }}</p>
                    <p>入學期間 {{ education.start_date }}--{{ education.end_date }}</p>
                    <hr>
                {% endfor %}
            </ul>
        {% else %}
            <p>目前無教育經驗</p>
        {% endif %}
    </div>
{% endblock %}