{% extends 'frontend.html' %}
{% block content %}

    <div class="container mx-auto max-w-lg mt-8">
        <div class="header-bar flex justify-between items-center bg-user-blue text-white p-4 rounded-t-md mb-4">
            <a href="{% url 'resumes:index' %}" class="text-white-600 hover:text-user-blue mr-4">&#8592;Back</a>
            <a href="{% url 'resumes:education' resume_id %}" class="edu text-white-600 hover:text-user-blue">&#43;</a>
        </div>
        <div class="card-body p-4 shadow-md">
            <h1 class="text-3xl font-bold mb-6">教育經驗</h1>
            {% if educations %}
                <ul>
                    {% for education in educations %}
                        <strong>{{ education.school_name }} - {{ education.major }}</strong> <a href="{% url 'educations:edu_edit' education.id %}">編輯</a>  <a href="{% url 'educations:edu_delete' education.pk %}">刪除</a>
                        <p>學位：{{ education.get_degree_display }}</p>
                        <p>入學期間： {{ education.start_date |date:"Y年m月" }}--{{ education.end_date |date:"Y年m月" }}</p>
                        <hr>
                    {% endfor %}
                </ul>
            {% else %}
                <p>目前無教育經驗</p>
            {% endif %}
        </div>
    </div>
{% endblock %}