{% extends 'base.html' %}

{% block content %}
    <div class="container mx-auto max-w-lg mt-8">
        <div class="flex justify-center">
            <div class="w-full">
                <div class="header-bar flex justify-start items-center bg-blue-600 text-white p-4 rounded-t-md">
                    <a href="{% url 'resumes:index' %}" class="text-white">&#8592;Back</a>
                </div>

                <div class="card-body p-4 shadow-md mt-4">
                    <h3 class="text-lg font-semibold mb-4">編輯教育經驗</h3>    
                    <form method="post" id="myForm" action="{% url 'resumes:edu-edit' pk=education.pk %}">
                    {% csrf_token %}
                    {{ form }}

                    <div class="flex justify-end">
                        <button type="submit" class="button border border-blue-600 bg-white text-blue-600 px-2 py-2 hover:bg-blue-600 hover:text-white">提交</button>
                        <form method="post" action="{% url 'resumes:edu-delete' pk=education.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="button border border-blue-600 bg-white text-blue-600 px-2 py-2 hover:bg-blue-600 hover:text-white">刪除</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}