{% extends 'my_base.html' %}
{% block content %}
    <div class="header-bar">
        <a href="{% url 'resumes:index' %}">&#8592;Back</a>
        <a href="{% url 'resumes:project' %}">&#43;</a>
    </div>
    <div class="card-body">
        <h1>專案內容</h1>
        {% if projects %}
            <ul>
                {% for project in projects %}
                    <strong><a href="{% url 'resumes:project-edit' pk=project.pk %}">{{ project.project_name }}</a></strong>
                    <p>負責部分：{{ project.responsibility }}</p>
                    <p>技術運用： {{ project.technologies_used }}</p>
                    <p>說明：{{project.description}}</p>
                    <hr>
                {% endfor %}
            </ul>
        {% else %}
            <p>No projects found.</p>
        {% endif %}
    </div>
{% endblock %}