{% extends 'base.html' %}

{% block content %}
    <h2>新增個人信息</h2>
    <form method="post" id="myForm" action="{% url 'resumes:create'%}">
    {% csrf_token %}
    {{ form }}
    <button type="submit">提交</button>
    <a href="#" id="cancelBtn">全部取消</a>
    </form>
    <br>
    <br>
    <a href="{% url 'resumes:index' %}">回首頁</a>

    <script>
    document.getElementById("cancelBtn").addEventListener("click", function() {
        document.getElementById("myForm").reset();
    });
    </script>
{% endblock %}