{% extends 'base.html' %}

{% block content %}
    <h1>我的個人信息</h1>
    <p>點擊姓名進入編輯</p>
    <section>
        <div>
            姓名：<a href="{% url 'resumes:edit' pk=profile.pk %}">{{ profile.name }}</a>
            <p>性別：{{ profile.gender }}</p>
            <p>生日：{{profile.birthday}}</p>
            <p>電子信箱：{{profile.email}}</p>
            <p>手機：{{profile.phone_number}}</p>
            <p>地址：{{profile.address}}</p>
            <p>技能：{{profile.skills}}</p>
            <p>個人網站：{{profile.website}}</p>
            <p>工作經驗：{{profile.experience}}</p>
            <p>Linkedin：{{profile.linkedin}}</p>
            <p>GitHub：{{profile.github}}</p>
        </div>
    </section>
        <a href="{% url 'resumes:create' %}">新增個人信息</a>
        <br>
        <br>
        <a href="{% url 'resumes:index' %}">回首頁</a>
    </div>
{% endblock %}






