{% extends 'frontend.html' %}
{% block content %}
    <div class="flex justify-center mt-8 flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-8">
        <div class="w-full md:w-4/5 lg:w-1/2 xl:w-2/3 bg-white p-4 shadow-lg rounded-lg">
            <div id="calendar" class="w-full"><h1 class="text-center text-xl font-bold py-4">可以點擊事件查看詳細記錄!</h1></div>
        </div>
        <div class="w-full md:w-1/3 lg:w-1/2 xl:w-1/3 flex justify-center items-center">
            <div id="event-info" class="hidden bg-pink-200 p-6 shadow-lg rounded-lg max-w-lg w-full relative mt-1">
                <button id="close-info" class="absolute top-0 right-0 m-4 text-gray-800 hover:text-gray-900 text-3xl">&times;</button>
                <p id="info-title" class="text-xl font-bold mb-4 text-center"></p>
                <div class="text-gray-700 space-y-2 text-center">
                    <p id="info-company" class="font-semibold"></p>
                    <p id="info-job-title"></p>
                    <p id="info-date"></p>
                    <p id="info-time"></p>
                    <p id="info-username"></p>
                    <br>
                    <p class="text-sm text-gray-700">EngiLink協助您找到適合人才！</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'zh-cn',
                height: 700,
                events: [
                    {% for interview in interviews %}
                    {
                        title: "{{ interview.job.title }}-{{ interview.resume.user.username }}",
                        start: "{{ interview.interview_date|date:'Y-m-d' }}",
                        originalTitle: "{{ interview.job.title }}-{{ interview.job.company.company_name }}",
                        interviewInfo: {
                            company: "{{ interview.job.company.company_name }}",
                            jobTitle: "{{ interview.job.title }}",
                            interviewDate: "{{ interview.interview_date|date:'Y-m-d' }}",
                            time: "{{ interview.interview_date|date:'H:i' }}",
                            username: "{{ interview.resume.user.username }}"
                        }
                    },
                    {% endfor %}
                ],
                eventClick: function(info) {
                    let interview = info.event.extendedProps.interviewInfo;
                    document.getElementById('info-username').textContent = "求職者：" + interview.username;
                    document.getElementById('info-job-title').textContent = "職位：" + interview.jobTitle;
                    document.getElementById('info-date').textContent = "日期：" + interview.interviewDate;
                    document.getElementById('info-time').textContent = "時間：" + interview.time;

                    document.getElementById('event-info').classList.remove('hidden');

                    let originalColor = info.event.backgroundColor;
                    setTimeout(function() {
                        info.el.style.backgroundColor = originalColor;
                    }, 2000);

                    info.el.style.backgroundColor = 'green';
                },
                eventMouseEnter: function(info) {
                    info.el.style.cursor = 'pointer';
                },
                eventMouseLeave: function(info) {
                    info.el.style.cursor = 'default';
                }
            });
            calendar.render();

            document.getElementById('close-info').addEventListener('click', function() {
                document.getElementById('event-info').classList.add('hidden');
            });
        });
    </script>
{% endblock %}
