{% extends 'frontend.html' %}
{% block content %}
<div class="max-w-xl mx-auto bg-white p-8 shadow rounded-lg border-4 border-blue-500">
    <h1 class="text-xl font-semibold mb-4">應徵詳情</h1>
    <div class="mb-4 border-2 border-red-500">
        <p><strong>應徵者：</strong> {{ user.resume.name }}</p>
        <p><strong>應徵公司：</strong> {{ user.job.company.company_name }}</p>
        <p><strong>職缺：</strong> {{ user.job.title }}</p>
        <p><strong>應徵時間：</strong> {{ user.created_at|date:"Y.m.d H:i" }}</p>
    </div>
    <hr class="my-4">
    <div class="mb-4">
        <h2 class="text-lg font-semibold mb-2">個人資訊</h2>
        <img src="{{ resume.picture.url }}" alt="照片" class="w-40 h-32 mr-6 mb-2">
        <p><strong>姓名：</strong> {{ user.resume.name }}</p>
        <p><strong>性別：</strong> {{ resume.get_gender_display }}</p>
        <p><strong>生日：</strong> {{ resume.birthday }}</p>
        <p><strong>信箱：</strong> {{ resume.email }}</p>
        <p><strong>電話：</strong> {{ resume.phone_number }}</p>
        <p><strong>地址：</strong> {{ resume.address }}</p>
        <p><strong>技能：</strong> {{ resume.skills }}</p>
        <p><strong>個人網站：</strong> {{ resume.website }}</p>
        <p><strong>工作經驗：</strong> {{ resume.experience }}</p>
        <p><strong>Linkedin：</strong> {{ resume.linkedin }}</p>
        <p><strong>GitHub：</strong> {{ resume.github }}</p>
    </div>
    <hr class="my-4">
    <div class="mb-4">
        <h2 class="text-lg font-semibold mb-2">教育經驗</h2>
        <ul>
            {% for education in educations %}
            <li>
                <p><strong>學校：</strong> {{ education.school_name }}</p>
                <p><strong>系所：</strong> {{ education.major }}</p>
                <p><strong>學位：</strong> {{ education.get_degree_display }}</p>
                <p><strong>入學時間：</strong> {{ education.start_date |date:"Y.m.d" }}</p>
                <p><strong>畢業時間：</strong> {{ education.end_date |date:"Y.m.d" }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    <hr class="my-4">
    <div class="mb-4">
        <h2 class="text-lg font-semibold mb-2">工作經驗</h2>
        <ul>
            {% for work in works %}
            <li>
                <p><strong>公司名：</strong> {{ work.company_name }}</p>
                <p><strong>職位：</strong> {{ work.position }}</p>
                <p><strong>入職時間：</strong> {{ work.start_date  |date:"Y.m.d" }}</p>
                <p><strong>離職時間：</strong> {{ work.end_date  |date:"Y.m.d" }}</p>
                <p><strong>在職中：</strong> {% if work.is_current %}是{% else %}否{% endif %}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    <hr class="my-4">
    <div class="mb-4">
        <h2 class="text-lg font-semibold mb-2">專案經驗</h2>
        <ul>
            {% for project in projects %}
            <li>
                <p><strong>專案名稱：</strong> {{ project.project_name }}</p>
                <p><strong>負責內容：</strong> {{ project.responsibility }}</p>
                <p><strong>技能使用：</strong> {{ project.technologies_used }}</p>
                <p><strong>說明：</strong> {{ project.description }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

