{% extends "backend.html" %}
{% load humanize %}
{% load static %}
{% block content %}
<div class="container w-screen min-h-screen p-4 mx-auto bg-gray-100">
    <div class="p-6 bg-white rounded-lg shadow-lg">
        <div class="flex items-center mb-6">
            {% if company.logo %}
                <img src="{{ company.logo.url }}" alt="{{ company.company_name }}" class="w-16 h-16 mr-4 rounded-full">
            {% else %}
                <img src="{% static 'img/company.jpg' %}" alt="{{ company.company_name }}" class="w-16 h-16 mr-4 rounded-full">
            {% endif %}
            <h1 class="text-2xl font-semibold">{{ company.company_name }}</h1>
        </div>
        <div class="mb-4">
            <p>{{ company.description }}</p>
        </div>
        <div class="mb-6">
            <ul class="list-none">
                <li class="flex items-center mb-2">
                    <i class="w-4 h-4 text-gray-500 fa-solid fa-location-dot"></i>
                    <span class="ml-2">{{ company.address }}</span>
                    <a href="https://www.google.com/maps/search/?api=1&query={{ company.address }}" target="_blank" class="inline-flex items-center ml-2 text-user-blue">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                </li>
                <li class="flex items-center mb-2">
                    <i class="w-4 h-4 text-gray-500 fa-solid fa-briefcase"></i>
                    <span class="ml-2">{{ company.type }}</span>
                </li>
            </ul>
        </div>
        <div class="text-center">
            <a href="#job-list" class="inline-block px-4 py-2 text-white bg-user-blue rounded-md hover:bg-white hover:border-user-blue hover:text-user-blue border">查看職缺 ({{ job_count }})</a>
        </div>
    </div>

    <div class="mt-8">
        <h2 id="job-list" class="mb-4 text-xl font-semibold scroll-mt-16">職缺列表</h2>
        <div class="space-y-6">
            {% if jobs %}
                {% for job in jobs %}
                    <div class="flex flex-col items-start justify-between p-4 bg-white rounded-lg shadow-lg md:flex-row md:items-center">
                        <div class="w-64 mb-4 md:w-1/3 md:mb-0 md:mr-4">
                            {% if job.company.banner %}
                                <img src="{{ job.company.banner.url }}" alt="公司圖片" class="object-cover w-full h-full rounded">
                            {% else %}
                                <img src="{% static 'img/company_banner.webp' %}" alt="預設公司圖片" class="object-cover w-full h-full rounded">
                            {% endif %}
                        </div>
                        <div class="flex flex-col items-start justify-between w-full space-y-4 md:w-2/3 md:flex-row md:items-center md:space-y-0">
                            <div class="flex flex-col flex-grow space-y-4 md:mr-4">
                                <h2 class="pl-4 text-2xl font-bold">{{ job.title }}</h2>
                                <div class="flex items-center pl-4 space-x-2">
                                    {% if company.logo %}
                                        <img src="{{ job.company.logo.url }}" alt="公司Logo" class="object-cover w-6 h-6 rounded">
                                    {% else %}
                                        <img src="{% static 'img/company.jpg' %}" alt="{{ company.company_name }}" class="w-16 h-16 mr-4 rounded-full">
                                    {% endif %}
                                    <p class="text-lg">{{ job.company.company_name }}</p>
                                </div>
                                <div class="flex items-center space-x-2">
                                    <i class="w-4 h-4 text-gray-500 fa-solid fa-location-dot"></i> 
                                    <p class="text-gray-700">{{ job.address|slice:":3" }}</p>
                                    <i class="w-4 h-4 text-gray-500 fa-solid fa-sack-dollar"></i>
                                    <p class="text-gray-700">NT${{ job.salary|intcomma }}</p>
                                </div>
                            </div>
                            <div class="flex flex-row items-center justify-end w-full mt-4 space-x-4 md:flex-col md:items-start md:w-auto md:space-x-0 md:space-y-4 md:mt-0 md:flex-shrink-0">
                                {% if request.user.user_type == 1 %}
                                    <a href="{% url 'users:apply' job.id %}" class="px-4 py-2 text-white bg-user-blue rounded-md hover:bg-white hover:border-user-blue hover:text-user-blue border">立即應徵</a>
                                    <a href="{% url 'users:collect' %}" class="px-4 py-2 text-white bg-user-blue rounded-md hover:bg-white hover:border-user-blue hover:text-user-blue border">收藏職缺</a>
                                {% else %}
                                    <a href="{% url 'users:login' %}" class="px-4 py-2 text-white bg-user-blue rounded-md hover:bg-white hover:border-user-blue hover:text-user-blue border">立即應徵</a>
                                    <a href="{% url 'users:login' %}" class="px-4 py-2 text-white bg-user-blue rounded-md hover:bg-white hover:border-user-blue hover:text-user-blue border">收藏職缺</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <br>
                <p class="text-xl text-center">該公司尚未有合適職缺。</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
