{% extends 'backend.html' %}
{% load static %}
{% block content %}
    <header class="sticky z-10 w-full py-8 text-center bg-blue-50 top-16">
        <div class="container px-4 mx-auto">
            <h1 class="text-2xl font-bold">拓展求職視野，尋找理想工作</h1>
            <div class="flex flex-wrap justify-center mt-6">
                <form action="{% url 'companies:company_list' %}" method="get" class="flex w-full md:w-2/3">
                    <input type="text" name="q" placeholder="搜尋公司名稱" class="flex-grow p-2 border border-gray-300 rounded-l-lg focus:outline-none focus:border-indigo-500" value="{{ request.GET.q|default:'' }}"/>
                    <button type="submit" class="p-2 text-white bg-user-blue rounded-r-lg">搜尋</button>
                    {% if request.GET.q %}
                        <a href="{% url 'companies:company_list' %}" class="p-2 ml-2 text-white bg-red-500 rounded-lg">取消搜尋</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </header>
    <div class="container px-4 py-8 mx-auto">
        <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
            {% for company in companies_list %}
                <a href="{% url 'companies:company_info' company.id %}"><div class="flex flex-col justify-between h-full overflow-hidden bg-white rounded-lg shadow-md hover:shadow-xl">
                    <div class="p-2">
                        {% if company.banner %}
                            <div class="w-76 h-48 overflow-hidden rounded-md">
                                <img src="{{ company.banner.url }}" alt="{{ company.company_name }}" class="object-cover w-full h-full">
                            </div>
                        {% else %}
                            <div class="w-76 h-48 overflow-hidden rounded-md">
                                <img src="{% static 'img/company.jpg' %}" alt="{{ company.company_name }}" class="object-cover w-full h-full">
                            </div>
                        {% endif %}
                    </div>
                    <div class="flex-grow p-4">

                        <div class="flex items-center mb-4">
                            {% if company.logo %}
                                <div class="w-5 h-5 mr-2 rounded-full overflow-hidden">
                                    <img src="{{ company.logo.url }}" alt="{{ company.company_name }}" class="w-full h-full object-cover">
                                </div>
                            {% else %}
                            <div class="w-5 h-5 mr-2 rounded-full overflow-hidden">
                                <img src="{% static 'img/company.jpg' %}" alt="{{ company.company_name }}" class="w-full h-full object-cover">
                            </div>
                            {% endif %}
                            <h2 class="text-xl font-semibold truncate">{{ company.company_name }}</h2>
                        </div>
                        <div class="card-description min-h-[3rem]">
                            <p class="text-gray-600 line-clamp-3">{{ company.description }}</p>
                        </div>
                    </div>
                    <div class="flex-shrink-0 p-4">
                        <div class="flex items-center justify-between">
                            <div class="flex items-center">
                                <i class="w-4 h-4 mr-1 text-gray-500 fa-solid fa-location-dot"></i>
                                <p class="flex items-center text-xs text-gray-600">{{ company.address|slice:":3" }}</p>
                                <i class="w-4 h-4 ml-3 mr-1 text-gray-500 fa-solid fa-briefcase"></i>
                                <p class="flex items-center text-xs text-gray-600">{{ company.type }}</p>
                            </div>
                            <form action="{% url 'companies:favorite_company' company.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="flex items-center justify-center w-8 h-8 {% if company.id in favorite_company_ids %} bg-user-blue {% else %} bg-gray-300 {% endif %} rounded-full hover:bg-user-blue">
                                    <i class="w-4 h-4 text-white fill-current fa-solid fa-heart"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div></a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
