{% extends 'backend.html' %}
{% block content %}
    <br>
    <br>
    <br>
    <div class="flex justify-end mb-4">
        <form action="{% url 'companies:company_list' %}" method="get" class="flex">
            <input type="text" name="q" placeholder="搜尋公司名稱" class="px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500">
            <button type="submit" class="px-4 py-2 bg-indigo-500 text-white rounded-lg ml-2">Search</button>
        </form>
    </div>
    <div class="container px-4 py-8 mx-auto">
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
            {% for company in companies_list %}
                <div class="flex flex-col justify-between h-full overflow-hidden bg-white rounded-lg shadow-md">
                    <div class="relative p-2">
                        {% if company.banner %}
                            <div class="relative w-full h-48 mb-0 flex justify-center items-center p-2.5">
                                <img src="{{ company.banner.url }}" alt="{{ company.company_name }}" class="object-cover w-full h-48 rounded-lg m-2.5 mb-0">
                            </div>
                        {% else %}
                            <div class="relative w-full h-48 mb-0 flex justify-center items-center p-2.5">
                                <img src="/static/images/default_banner.jpg" alt="{{ company.company_name }}" class="object-cover w-full h-48 rounded-lg m-2.5 mb-0">
                            </div>
                        {% endif %}
                    </div>
                    <div class="flex-grow p-4">
                        <div class="flex items-center mb-4">
                            {% if company.logo %}
                                <img src="{{ company.logo.url }}" alt="{{ company.company_name }}" class="w-5 h-5 mr-2">
                            {% else %}
                                <img src="/static/images/default_logo.jpg" alt="{{ company.company_name }}" class="w-5 h-5 mr-2">
                            {% endif %}
                            <h2 class="text-xl font-semibold truncate">{{ company.company_name }}</h2>
                        </div>
                        <div class="card-description min-h-[3rem]">
                            <p class="text-gray-600 line-clamp-3">{{ company.description }}</p>
                        </div>
                    </div>
                    <div class="flex-shrink-0 p-4">
                        <div class="flex items-end justify-between">
                            <div>
                                <p class="flex items-center text-xs text-gray-600">
                                    <span class="mr-1 align-middle material-icons-outlined">location_city</span> {{ company.address|slice:":3" }}
                                </p>
                                <p class="flex items-center text-xs text-gray-600">
                                    <span class="mr-1 align-middle material-icons-outlined">work</span> {{ company.type }}
                                </p>
                            </div>
                            <button class="flex items-center justify-center w-8 h-8 text-white bg-blue-500 rounded-full hover:bg-pink-700">
                                <span class="material-icons-outlined">favorite</span>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}