{% extends 'backend.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mx-auto flex flex-col justify-center items-center max-w-lg pt-16">
        <div class='header-bar flex justify-center items-center bg-company-green text-white p-4 rounded-t-md w-full'>
            <h2>公司註冊</h2>
        </div>
        <div class="task-items-wrapper flex flex-col w-full">
            <div class="task-wrapper flex justify-center items-center py-4 px-6 bg-white border-t border-gray-300 w-full">
                <form method="post" action="{% url 'companies:register' %}" class="w-full max-w-lg">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="flex justify-end">
                        <button type="submit" class="button company-md-btn">提交</button>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <small><a href="{% url 'companies:login' %}" class="text-gray-500">已有帳號？登入</a></small>
    </div>
{% endblock %}