{% extends 'backend.html' %} 
{% block content %}
<div class="container flex flex-col items-center justify-center max-w-lg pt-16 mx-auto">
    <div class='flex items-center justify-center w-full p-4 text-white bg-violet-700 header-bar rounded-t-md'>
        <h2>公司資訊</h2>
    </div>
    <div class="flex flex-col w-full task-items-wrapper">
        <div class="flex items-center justify-center w-full px-6 py-4 bg-white border-t border-gray-300 task-wrapper">
            <form method="post" class="w-full max-w-lg" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="id_username" class="block mb-2 text-sm font-bold text-gray-700">帳號：</label>
                    <input type="text" name="username" required id="id_username" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" value="{{ form.username.value }}">
                </div>
                <div class="mb-4">
                    <label for="id_username" class="block mb-2 text-sm font-bold text-gray-700">公司信箱：</label>
                    <input type="text" name="email" required id="id_username" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" value="{{ form.email.value }}">
                </div>
                <div class="mb-4">
                    <label for="id_username" class="block mb-2 text-sm font-bold text-gray-700">公司名稱：</label>
                    <input type="text" name="company_name" required id="id_username" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" value="{{ form.company_name.value }}">
                </div>
                <div class="mb-4">
                    <label for="id_username" class="block mb-2 text-sm font-bold text-gray-700">統一編號：</label>
                    <input type="text" name="tin" required id="id_username" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" value="{{ form.tin.value }}">
                </div>
                <div class="mb-4">
                    <label for="id_username" class="block mb-2 text-sm font-bold text-gray-700">聯絡人：</label>
                    <input type="text" name="user_name" required id="id_username" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" value="{{ form.user_name.value }}">
                </div>
                <div class="mb-4">
                    <label for="id_username" class="block mb-2 text-sm font-bold text-gray-700">聯絡電話：</label>
                    <input type="text" name="tel" required id="id_username" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" value="{{ form.tel.value }}">
                </div>
                <div class="mb-4">
                    <label for="id_username" class="block mb-2 text-sm font-bold text-gray-700">公司地址：</label>
                    <input type="text" name="address" required id="id_username" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" value="{{ form.address.value }}">
                </div>
                <div class="mb-4">
                    <label for="id_username" class="block mb-2 text-sm font-bold text-gray-700">公司類型：</label>
                    <input type="text" name="type" required id="id_username" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" value="{{ form.type.value }}">
                </div>
                <div class="mb-4">
                    <label for="id_username" class="block mb-2 text-sm font-bold text-gray-700">公司簡介：</label>
                    <textarea name="description" required id="id_description" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" rows="4">{{ form.description.value }}</textarea>
                </div>
                <div class="mb-4">
                    <label for="file_upload_banner" class="block mb-2 text-sm font-bold text-gray-700">
                        上傳圖片：
                    </label>
                    <input type="file" name="banner" id="file_upload" class="file:mr-4 file:py-2 file:px-4 file:rounded file:border-0 file:text-sm file:font-semibold file:bg-violet-50 file:text-violet-700 hover:file:bg-violet-100"/>
                </div>
                <div class="mb-4">
                    <label for="file_upload_logo" class="block mb-2 text-sm font-bold text-gray-700">
                        上傳logo：
                    </label>
                    <input type="file" name="logo" id="file_upload" class="file:mr-4 file:py-2 file:px-4 file:rounded file:border-0 file:text-sm file:font-semibold file:bg-violet-50 file:text-violet-700 hover:file:bg-violet-100"/>
                </div>
                <div class="flex justify-end px-1">
                    <button type="submit" class="px-4 py-2 text-violet-700 bg-white border border-violet-700 rounded button hover:bg-violet-700 hover:text-white">更新</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}