{% extends 'frontend.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container max-w-lg mx-auto mt-8">
        <div class="flex justify-center">
            <div class="w-full">
                <div class="flex items-center justify-start p-4 text-white bg-user-blue header-bar rounded-t-md">
                    <a href="{% url 'resumes:index' %}" class="text-white">&#8592;Back</a>
                </div>

                <div class="p-4 mt-4 shadow-md card-body" x-data>
                    <h3 class="mb-4 text-lg font-semibold">新增個人資料</h3>
                    <form method="post" id="myForm" action="{% url 'resumes:create' %}" enctype="multipart/form-data" @submit.prevent="showProcessingMessage($event)">
                        {% csrf_token %}
                        <div class="w-full md:w-2/3">
                            {% for field in form %}
                                {% if field.name == "picture" %}
                                    <div class="mb-4">
                                        <label class="block mb-2 text-sm font-bold text-gray-700" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="w-full p-2 border border-gray-300 rounded-md">
                                        <small class="text-gray-500">(只能上傳 .jpeg 圖片)</small>
                                        {% if field.errors %}
                                            <div class="mt-1 text-sm text-red-600">{{ field.errors }}</div>
                                        {% endif %}
                                    </div>
                                {% elif field.name == "address" %}
                                    <div class="mb-4">
                                        <label class="block mb-2 text-sm font-bold text-gray-700" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="w-full p-2 border border-gray-300 rounded-md">
                                        <small class="text-gray-500">請填入正確地址</small>
                                        {% if field.errors %}
                                            <div class="mt-1 text-sm text-red-600">{{ field.errors }}</div>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    {{ field|as_crispy_field }}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="mb-4 ml-4">
                            <div class="mb-2">
                                <div id="preview-container" class="hidden mt-4">
                                    <img id="preview" src="#" alt="Image Preview" class="border border-black w-72 h-72 object-contain" />
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-end">
                            <button type="submit" class="user-sm-btn">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
