{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'css/output.css' %}" rel="stylesheet" />
    <script defer src="{% static 'js/bundle.js' %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <title>EngiLink</title>
    {% bootstrap_css %}
</head>
<body>
    {% include "shared/navbar.html" %}
    <main class="pt-16">
        {% block content %}
        {% endblock %}
    </main> 
    {% if messages %} 
    {% include "shared/notice.html" %} 
    {% endif %}
</body>
</html>