{% load static %}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'css/output.css' %}" rel="stylesheet" />
    <link href="{% static 'css/markdown.css' %}" rel="stylesheet">
    <script defer src="{% static 'js/bundle.js' %}"></script>
    <title>EngiLink</title>
</head>
<body class="flex flex-col min-h-screen">
    {% include "shared/navbar.html" %}
    <main class="flex-grow pt-16">
        {% block content %}
        {% endblock %}
    </main>
    {% if messages %} 
    {% include "shared/notice.html" %} 
    {% endif %}
    {% include "shared/footer.html" %}
</body>
</html>
