<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
    <script defer src="/bundle.js"></script>
    <title>EngiLink</title>
  </head>
  <body>
    {% include "shared/navbar.html" %}
    {% block content %} 
    {% endblock %} 
    {% if messages %} 
    {% for message in messages %}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        Toast.fire({
          icon: "{{ message.tags }}",
          title: "{{ message }}",
        });
      });
    </script>
    {% endfor %} 
    {% endif %}
  </body>
</html>
