{% extends "frontend.html" %}
{% load static %}
{% block content %}
{% if not user.is_authenticated %}
    <div class="flex justify-center items-center h-screen">
        <div class="flex flex-col justify-center items-center mx-2">
            <img src="{% static 'img/logo.png' %}" class="w-40 mb-4 mr-2">
            <h1 class="text-user-blue font-bold text-5xl">EngiLink</h1>
            <br>
            <h4 class="text-xl mb-4">Connect me, just EngiLink</h4>
            <h4 class="text-xl mb-4">媒合英才，盡在EngiLink</h4>
            <p class="italic font-light px-2 text-center">Connecting top engineers and businesses worldwide. Join us now!</p>
            <div class="flex">
                <button class="bg-user-blue text-white px-8 py-4 rounded-full mt-8 mr-4 hover:bg-white hover:text-user-blue hover:border-user-blue border" onclick="location.href='{% url 'users:login' %}'">求職者登入</button>
                <button class="bg-user-blue text-white px-8 py-4 rounded-full mt-8 hover:bg-white hover:text-user-blue hover:border-user-blue border" onclick="location.href='{% url 'companies:login' %}'">公司登入</button>
            </div>
        </div>
        <div class="hidden lg:block">
            <img src="{% static 'img/engilink.png' %}" class="w-full lg:max-w-lg">
        </div>
    </div>
{% else %}
    <input type="hidden" value="{{ request.user.user_type }}">
    {% if request.user.user_type == 2 %}
        <input type="hidden" value="{% url 'companies:home'  %}">
    {% else %}
        <input type="hidden" value="{% url 'users:home' %}">
    {% endif %}
    <script src="{% static 'js/home.js' %}"></script>
{% endif %}
{% endblock %}
