{% extends "base.html" %}

{% block content %}
    <div class="flex justify-center items-center h-screen">
        <div class="flex flex-col justify-center items-center">
            <img src="img/logo.png" class="w-40 mb-4 mr-2"> 
            <h1 class="text-blue-800 font-bold text-5xl">EngiLink</h1>
            <h4 class="text-xl mb-4">Connect me, just EngiLink</h4>
            <h4 class="text-xl mb-4">媒合英才，盡在EngiLink</h4>
            <p class="italic font-light">Connecting top engineers and businesses worldwide. Join us now!</p>
            <div class="flex">
                <button class="bg-blue-800 text-white px-8 py-4 rounded-full mt-8 mr-4 hover:bg-blue-200 hover:text-black" onclick="location.href='{% url 'users:login' %}'">求職者登入</button>
                <button class="bg-blue-800 text-white px-8 py-4 rounded-full mt-8 hover:bg-blue-200 hover:text-black" onclick="location.href='{% url 'companies:login' %}'">公司登入</button>
            </div>
        </div>
        <div class="container-pic">
            <img src="img/englink.png" class="max-w-lg">
        </div>
    </div>
{% endblock %}
