{% extends "backend.html" %}
{% load static %}
{% block content %}

<div class="flex justify-center items-center">
    <div class="max-w-lg w-full px-4 py-8 rounded-lg shadow-lg text-center">
        <img src="{% static 'img/resume.png' %}" alt="resume">
        <h1 class="text-2xl font-semibold mb-4">使用者：{{ request.user }}</h1>
        <h2 class="text-xl font-semibold mb-4">投遞工作：{{ job.title }}</h2>
        <form method="post" action="{% url 'users:apply' job.id %}" class="mb-4">
            {% csrf_token %}
            <input type="hidden" name="job_id" value="{{ job.id }}">
            {% if resumes %}
                <label class="block mb-2">選擇履歷：</label>
                {% for resume in resumes %}
                <label class="inline-flex items-center mb-2">
                    <input type="radio" name="resume_id" value="{{ resume.resume_id }}" class="mr-2" {% if forloop.first %}checked{% endif %}>
                    <span>{{ resume.name }}</span>
                </label>
                {% endfor %}
                <div class="mt-4">
                    <button type="submit" class="user-md-btn-full">提交</button>
                </div>
            {% endif %}
        </form>
        {% if resumes|length == 0 %}
        <div>
            <p class="text-gray-700 mb-2">您還未創建任何履歷。</p>
            <a href="{% url 'resumes:index' %}" class="user-md-btn-full">創建履歷</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
