{% extends "backend.html" %}
{% block content %}
    <div class="flex justify-center py-8">
        <div class="w-full max-w-lg p-6 mb-6 bg-white rounded-lg shadow-md">
            <h1 class="px-4 py-2 mb-6 text-2xl text-center text-white rounded bg-company-green">編輯職缺</h1>
            <form method="post" class="space-y-4">
                {% csrf_token %}
                <div class="space-y-4">
                    {% for field in form %}
                        <div class="flex items-center space-x-4">
                            <label class="block text-lg font-medium text-gray-700 min-w-max" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                            {% if field.field.widget.input_type == "checkbox" %}
                                <div class="flex items-center">
                                    <input type="checkbox" name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="w-4 h-4">
                                    <label class="block ml-2 text-lg font-medium text-gray-700" for="{{ field.id_for_label }}"></label>
                                </div>
                            {% elif field.label == "工作內容" %}
                                <textarea name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="w-full h-32 p-2 border border-gray-300 rounded-md">{{ field.value|default_if_none:'' }}</textarea>
                            {% elif field.label == "人數需求" %}
                                <div class="flex items-center w-full space-x-2">
                                    <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" value="{{ field.value|default_if_none:'' }}" id="{{ field.id_for_label }}" class="w-full p-2 border border-gray-300 rounded-md">
                                    <span class="text-lg font-medium text-gray-700">人</span>
                                </div>
                            {% elif field.label == "工作經驗" %}
                                <div class="flex items-center w-full space-x-2">
                                    <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" value="{{ field.value|default_if_none:'' }}" id="{{ field.id_for_label }}" class="w-full p-2 border border-gray-300 rounded-md">
                                    <span class="text-lg font-medium text-gray-700">年</span>
                                </div>
                            {% elif field.label == "工作薪資" %}
                                <div class="flex items-center w-full space-x-2">
                                    <span class="text-lg font-medium text-gray-700 whitespace-nowrap">月薪 NT$</span>
                                    <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" value="{{ field.value|default_if_none:'' }}" id="{{ field.id_for_label }}" class="flex-grow p-2 border border-gray-300 rounded-md">
                                    <span class="text-lg font-medium text-gray-700">元</span>
                                </div>
                            {% else %}
                                <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" value="{{ field.value|default_if_none:'' }}" id="{{ field.id_for_label }}" class="w-full p-2 border border-gray-300 rounded-md">
                            {% endif %}
                            {% if field.errors %}
                                <div class="mt-1 text-sm text-red-600">{{ field.errors }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="flex justify-end mt-4">
                    <button type="submit" class="company-md-btn">更新職缺</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
