{% extends "backend.html" %}
{% block content %}
    <div class="pt-18">
        <div class="fixed w-full bg-white top-16">
            <h1 class="px-2 py-2 bg-blue-500">職缺列表</h1>
            <div class="flex justify-center mt-1 space-x-2">
            </div>
        </div>
        <section class="container flex flex-wrap justify-center px-4 py-4 mx-auto mt-20">
            <div class="flex flex-wrap justify-start w-full max-w-screen-lg">
                {% for job in jobs %}
                    <div id="publish-{{ job.id }}" class="w-full p-4 sm:w-full md:w-1/2 lg:w-1/2 xl:w-1/2">
                        {% include "jobs/job.html"%}
                    </div>   
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
