{% extends "backend.html" %}
{% load humanize %}
{% block content %}
    <div class="flex justify-center py-8">
        <div class="w-full max-w-lg p-6 mb-6 bg-white rounded-lg shadow-md">
            <p class="mb-4 text-lg font-bold">職位名稱：{{ job.title }}</p>
            <p class="mb-2"><span class="font-semibold">需求人數：</span>{{ job.openings }}人</p>
            <p class="mb-2"><span class="font-semibold">工作年資：</span>{{ job.experience }}年</p>
            <p class="mb-2"><span class="font-semibold">工作薪資：</span>月薪NT${{ job.salary|intcomma  }}元</p>
            <p class="mb-2"><span class="font-semibold">工作地點：</span>{{ job.address }}</p>
            <p class="mb-4"><span class="font-semibold">工作描述：</span>{{ job.description }}</p>
            
            <div class="flex justify-end space-x-4">
                <button class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600">
                    <a href="{% url 'jobs:edit' job.id %}">修改</a>
                </button>

                <form action="{% url 'jobs:delete' job.id %}" method="post" class="inline-block">
                    {% csrf_token %}
                    <button class="px-4 py-2 text-white bg-red-500 rounded hover:bg-red-600">刪除</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}