<!-- collect_company1.html -->
<button id="collect-button-{{ user_company.company.id }}" type="submit" class="flex items-center justify-center w-8 h-8 {% if user_company.company.id in user_companies %} bg-user-blue {% else %} bg-gray-300 {% endif %} rounded-full hover:bg-user-blue">
    {% if user_company.company.id in user_companies %}
        <i class="fa-solid fa-heart w-4 h-4 text-white fill-current"></i>
    {% else %}
        <i class="w-4 h-4 text-white fill-current fa-solid fa-heart"></i>
    {% endif %}
</button>