{% load static %}
<br>
<div class="container-interview mx-auto  p-8 ">
    <p class="text-3xl font-semibold text-gray-700 text-center">{{ title }}</p>
    <div class="flex flex-col justify-center items-center h-full space-y-6">
        <img src="{% static 'img/interview.png' %}" alt="" class="w-72 h-72 object-contain mb-4">
        <p class="text-xl font-semibold text-gray-700">{{request.user}}{{ message }}&nbsp;&nbsp;&nbsp;<a href="{{ link }}" class="bg-user-blue text-white px-8 py-4 rounded-full mt-8 hover:bg-blue-200 hover:text-black" >{{text}}</a></p>
    </div>
</div> 
<br>