{% extends 'frontend.html' %}
{% block content %}
<div class="flex justify-center mt-8">
    <div id="calendar" class="w-full md:max-w-2xl lg:max-w-3xl xl:max-w-4xl"></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'zh-cn',
            events: [
                {% for interview in interviews %}
                {
                    title: "{{ interview.job.title }}-{{ interview.job.company.company_name }}",
                    start: "{{ interview.interview_date|date:'Y-m-d' }}",
                    originalTitle: "{{ interview.job.title }}-{{ interview.job.company.company_name }}",
                    interviewInfo: {
                        company: "{{ interview.job.company.company_name }}",
                        jobTitle: "{{ interview.job.title }}",
                        interviewDate: "{{ interview.interview_date|date:'Y-m-d' }}",
                        time: "{{ interview.interview_date|date:'H:i' }}"
                    }
                },
                {% endfor %}
            ],
            eventClick: function(info) {
                let interview = info.event.extendedProps.interviewInfo;
                if (info.el.style.backgroundColor === 'green') {
                    info.el.style.backgroundColor = '';
                    info.event.setProp('title', info.event.extendedProps.originalTitle);
                } else {
                    info.el.style.backgroundColor = 'green';
                    info.event.setProp("\n時間：" + interview.time);
                }
            },
            eventMouseEnter: function(info) {
                info.el.style.cursor = 'pointer';
            },
            eventMouseLeave: function(info) {
                info.el.style.cursor = 'default';
            }
        });
        calendar.render();
    });
</script>
{% endblock %}
