{% extends 'frontend.html' %}
{% comment %} {% endcomment %}
{% block content %}
{% load static %}
{% if user_jobs %}
    <h2>你收藏的職缺</h2>
    <ul>
        {% for job in jobs %}
        {%if job.id in user_jobs%}
            <li>職缺: {{ job.title }}</li>
            <li>公司名稱: {{ job.company.company_name }}</li>
        {% endif%}    
        {% endfor %}
    </ul>
{% else %}
    {% url 'jobs:job_list' as job_list_url %}
    {% include 'empty.html' with title="我的應徵" message="，去收藏心儀的工作吧!" link=job_list_url text="前往收藏" %}
{% endif %}
{% endblock %}

