{% extends 'frontend.html' %}
{% block content %}
{% if user.is_authenticated %}
    <h1 class="h-16">Welcome, {{ user.username }}!</h1>
    <a href="{% url 'users:detail' user.id %}">View Profile</a>
    <br>
    <form action="{% url 'users:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <br>
    <hr>
    <form action="{% url 'users:home' %}" method="get" class="mb-4">
        <input type="text" name="q" placeholder="搜尋公司名稱" class="px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500">
        <button type="submit" class="px-4 py-2 bg-indigo-500 text-white rounded-lg ml-2">Search</button>
    </form>
    <br>
    <a href="{% url 'users:applications' user.id %}" class="ml-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 ">{{ user.username }}的應徵紀錄</a>
    <br>
    <br>
    {% if companies %}
        <h2>推薦給{{ user.username }}的工作機會</h2>
        <div class="space-y-4">
            {% for company in companies %}
                <div class="bg-white p-4 shadow rounded-lg">
                    <h3 class="text-lg font-semibold">{{ company.company_name }}</h3>
                    <ul class="mt-2 space-y-4">
                        {% for job in jobs %}
                            {% if job.company == company %}
                                <li class="relative p-4 bg-gray-100 rounded-lg">
                                    <div>
                                        <br>
                                        <span class="font-medium">{{ job.title }}</span>
                                        <span class="block text-sm text-gray-500">{{ job.collect }}</span>
                                    </div>
                                    <br>
                                    <div class="absolute bottom-4 right-4 flex space-x-2">
                                        <form class="inline" action="{% url 'users:collect' %}" hx-post="{% url 'users:collect' %}" hx-target="#collect-button-{{ job.id }}" hx-swap="outerHTML">
                                            {% csrf_token %}
                                            <input type="hidden" name="job_id" value="{{ job.id }}">
                                            {% include 'shared/collect_btn.html' %}
                                        </form>
                                        <a href="{% url 'users:apply' job.id %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">應徵</a>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No companies found.</p>
    {% endif %}
{% else %}
    <h1>Welcome to Our Site!</h1>
    <p>Please <a href="{% url 'users:login' %}">login</a> or <a href="{% url 'users:register' %}">register</a>.</p>
{% endif %}
{% endblock %}
