{% extends 'frontend.html' %}
{% block content %}
{% if user.is_authenticated %}
    <h1 class="h-16">Welcome, {{ user.username }}!</h1>
    <a href="{% url 'users:detail' user.id %}">View Profile</a>
    <br>
    <form action="{% url 'users:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <br>
    <a href="{% url 'users:applications' user.id %}" class="ml-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 ">{{ user.username }}的應徵紀錄</a>
    <hr>
    <div class="min-h-screen flex flex-col">
        <header class="bg-blue-50 py-8 text-center">
          <div class="container mx-auto px-4">
            <h1 class="text-2xl font-bold">拓展求職視野，尋找理想工作</h1>
            <div class="mt-6 flex justify-center flex-wrap">
              <input
                type="text"
                placeholder="找工作、公司..."
                class="p-2 border border-gray-300 rounded-l-lg w-full md:w-2/3"
              />
              <button
                class="p-2 bg-blue-500 text-white rounded-r-lg w-full md:w-auto"
              >
                搜尋
              </button>
            </div>
          </div>
        </header>
        <main class="flex-grow">
          <section class="py-8">
            <div class="container mx-auto px-4">
              <h2 class="text-xl font-bold mb-4">熱門職缺</h2>
              <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                <div class="bg-white border border-gray-200 p-4 rounded-lg shadow">
                  <h3 class="font-semibold mb-2">全支付-Android資深軟體工程師</h3>
                  <p>公司名: 全支付</p>
                  <p>地點: 台北市</p>
                  <p>薪資: NT$ 40,000 - 50,000</p>
                </div>
                <div class="bg-white border border-gray-200 p-4 rounded-lg shadow">
                  <h3 class="font-semibold mb-2">Senior Software Engineer</h3>
                  <p>公司名: AIFIAN</p>
                  <p>地點: 台北市</p>
                  <p>薪資: NT$ 1,200,000 - 2,000,000</p>
                </div>
                <div class="bg-white border border-gray-200 p-4 rounded-lg shadow">
                  <h3 class="font-semibold mb-2">Web Full-Stack Engineer</h3>
                  <p>公司名: dentall 台灣</p>
                  <p>地點: 台北市</p>
                  <p>薪資: NT$ 40,000 - 95,000</p>
                </div>
              </div>
            </div>
          </section>
          <section class="bg-white py-8">
            <div class="container mx-auto px-4">
              <h2 class="text-xl font-bold mb-4">推薦公司</h2>
              <div class="flex justify-between gap-4">
                <div
                  class="bg-white border border-gray-200 p-4 rounded-lg shadow w-full md:w-1/4"
                >
                  <h3 class="font-semibold mb-2">TeamJob</h3>
                  <p>公司介紹...</p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
                    quis nobis ducimus saepe magni id provident, assumenda voluptas
                    accusamus sed temporibus minus, earum doloremque impedit?
                    Perferendis veniam consequuntur beatae impedit.
                  </p>
                </div>
                <div
                  class="bg-white border border-gray-200 p-4 rounded-lg shadow w-full md:w-1/4"
                >
                  <h3 class="font-semibold mb-2">DollBank</h3>
                  <p>公司介紹...</p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
                    quis nobis ducimus saepe magni id provident, assumenda voluptas
                    accusamus sed temporibus minus, earum doloremque impedit?
                    Perferendis veniam consequuntur beatae impedit.
                  </p>
                </div>
                <div
                  class="bg-white border border-gray-200 p-4 rounded-lg shadow w-full md:w-1/4"
                >
                  <h3 class="font-semibold mb-2">URBAN</h3>
                  <p>公司介紹...</p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
                    quis nobis ducimus saepe magni id provident, assumenda voluptas
                    accusamus sed temporibus minus, earum doloremque impedit?
                    Perferendis veniam consequuntur beatae impedit.
                  </p>
                </div>
                <div
                  class="bg-white border border-gray-200 p-4 rounded-lg shadow w-full md:w-1/4"
                >
                  <h3 class="font-semibold mb-2">PH 百瑞國際</h3>
                  <p>公司介紹...</p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
                    quis nobis ducimus saepe magni id provident, assumenda voluptas
                    accusamus sed temporibus minus, earum doloremque impedit?
                    Perferendis veniam consequuntur beatae impedit.
                  </p>
                </div>
              </div>
            </div>
          </section>
        </main>
        <footer class="bg-gray-100 py-2 text-center mt-auto">
          <div class="container mx-auto px-4">
            <p class="text-gray-500">&copy; 2024 EngiLink. ALL Right Reserved.</p>
          </div>
        </footer>
      </div>
{% else %}
    <h1>Welcome to Our Site!</h1>
    <p>Please <a href="{% url 'users:login' %}">login</a> or <a href="{% url 'users:register' %}">register</a>.</p>
{% endif %}
{% endblock %}
