{% extends 'frontend.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <h1 class="h-16">Welcome, {{ user.username }}!</h1>
        <a href="{% url 'users:detail' user.id %}">View Profile</a>
        <br>
        <form action="{% url 'users:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <br>
        <hr>
        <h2>推薦工作與職缺:</h2>
        <div class="grid grid-cols-3 gap-4">
            {% for job in jobs %}
                <div class="bg-white p-4 shadow rounded-lg">
                    <h3 class="text-lg font-semibold">{{ job.company.company_name }}</h3>
                    <ul class="mt-2 flex items-center justify-between">
                        <span>最新職缺：</span>
                        <li class="ml-2">{{ job.title }}</li>
                        <li>{{ job.collect }}</li>
                        <div>
                            <form action="{% url 'users:collect' %}" method="post" hx-post="{% url 'users:collect' %}" hx-target="#collect-button-{{ job.id }}" hx-swap="outerHTML">
                                {% csrf_token %}
                                <input type="hidden" name="job_id" value="{{ job.id }}">
                                <button id="collect-button-{{ job.id }}" type="submit" class="ml-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                    {% if job.id in user_jobs %}
                                        已收藏
                                    {% else %}
                                        收藏
                                    {% endif %}
                                </button>
                            </form>
                            <br>
                            <a href="{% url 'users:apply' job.id %}" class="ml-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">應徵</a>
                        </div>
                    </ul>
                </div>
            {% endfor %}
        </div>
        {% if not jobs %}
            <p>No jobs found.</p>
        {% endif %}
    {% else %}
        <h1>Welcome to Our Site!</h1>
        <p>Please <a href="{% url 'users:login' %}">login</a> or <a href="{% url 'users:register' %}">register</a>.</p>
    {% endif %}
{% endblock %}
