<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/identify.css">
</head>
<body>
    <div class="container">
        <div class="header-bar">
            Don't have an account yet?<a href="{% url 'signup' %}">Sign up</a>
        </div>
        <div class="card-body">
            <div>
                <img src="/static/css/img/logo.png" alt="" width="100px">
            </div>
            <p><i>Welcome to EngiLink! Here, you'll find a myriad of job opportunities and talents to choose from.</i></p> 
            <p><i>Whether you're seeking your next career move or looking to recruit top talent, EngiLink is the platform for you.</i></p> 
            <div class="login">
                <button class="button-login">Company</button>
                <button class="button-login">User</button>
            </div>
        </div>
    </div>
</body>
</html>