{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}index{% endblock title %}
{% block main %}
    
<div>
    {% if user.is_authenticated %}
        <h2>{{ user.username }}</h2>
        <form action="{% url 'signout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
            <button><a href="{% url 'profile' user.id %}">User Profile</a></button>
            <button><a href="{% url 'edit' %}">Edit Profile</a></button>
        </form>
    {% else %}
        <h2>Log In Now</h2>
        <form id="login-form" action="{% url 'signin' %}" method="post" class="mb-4">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Log In</button>
        </form>
        <div>
            <small>
                Don't have an account yet? <a href="{% url 'signup' %}">Sign up</a>
            </small>
        </div>
    {% endif %}

</div>

{% endblock main %}
