{% comment %} {% extends 'frontend.html' %} {% endcomment %}
{% block content %}
<form action="{% url 'users:jobs' %}" method="get" class="mb-4">
    <input type="text" name="jobs" placeholder="搜尋職缺名稱" class="px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500">
    <button type="submit" class="px-4 py-2 bg-indigo-500 text-white rounded-lg ml-2">Search</button>
</form>

{% if jobs %}
    <div class="grid grid-cols-3 gap-4">
        {% for job in jobs %}
        <div class="bg-white p-4 shadow rounded-lg">
            <h3 class="text-lg font-semibold">{{ job.title }}</h3>
            <ul class="mt-2 flex items-center justify-between">
                    <li class="ml-2">公司:{{ job.company.company_name }}</li>
                <button class="ml-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">收藏</button>
            </ul>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>No jobs found.</p>
{% endif %}




{% endblock %}