{% extends 'frontend.html' %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container flex flex-col items-center justify-center max-w-lg pt-16 mx-auto">
        <div class='flex items-center justify-center w-full p-4 text-white bg-blue-600 header-bar rounded-t-md'>
            <h2>求職者登入</h2>
        </div>
        <div class="flex flex-col w-full task-items-wrapper">
            <div class="container flex items-center justify-center w-full px-6 py-4 bg-white border-t border-gray-300 task-wrapper">
                <form method="post" class="w-full max-w-lg">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <div class="mb-4">
                        <div class="flex justify-end">
                            <button type="submit" class="px-4 py-2 text-blue-600 bg-white border border-blue-600 rounded button hover:bg-blue-600 hover:text-white">登入</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <small>
        <div class="flex flex-col space-y-4">
            <a href="{% provider_login_url 'google' %}" class="flex items-center px-4 py-2 text-blue-600 no-underline bg-white border border-blue-600 rounded hover:bg-blue-600 hover:text-white">
                <i class="mr-2 fa-brands fa-google"></i>
                <span>Google帳號登入</span>
            </a>
            <a href="{% url 'users:register' %}" class="block px-4 py-2 mt-4 text-center text-blue-600 no-underline bg-white border border-blue-600 rounded hover:bg-blue-600 hover:text-white">
                前往註冊
            </a>
        </div>
        </small>
    </div>
{% endblock %}

