{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block title %}signin{% endblock title %}
{% block main %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">

    <div class="total">
        <div class="header-bar" >Log In Now!</div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div>
                    <button type="submit" class="button">Log In</button>
                </div>
            </form>
            <small>
                Don't have an account yet?<a href="{% url 'signup' %}">Sign up</a>
            </small>
        </div>
    </div>

    {% if form.errors %}
    <script>    
        document.addEventListener('DOMContentLoaded', function() {
            Swal.fire({
                icon: 'error',
                title: 'Login Failed',
                text: 'Please check your input',
                showConfirmButton: false,
                timer: 2000
            });
        });
    </script>
{% endif %}
{% endblock main %}