{% extends "users/base.html" %}
{% block title %}signup{% endblock title %}
{% block main %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">

    <div class="total">
        <div class="header-bar" >Sign Up Now!</div>
        <div class="card-body">
            <form action="{% url 'users:users_signup' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    {{ form }}
                </fieldset>
                <div>
                    <button type="submit" class="button">Sign Up</button>
                </div>
            </form>
            <div>
                <small>
                    Already Registered? <a href="{% url 'users:users_signin' %}">Sign In</a>
                </small>
            </div>
        </div>
    </div>
{% endblock main %}
