{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block title %}signin{% endblock title %}
{% block main %}

<div>
    <form method="post">
        
        {% csrf_token %}
        <fieldset>
            <legend>Log In Now</legend>
            {{ form|crispy }}
            {% if form.errors %}
{% endif %}
        </fieldset>
        <div>
            <button type="submit" id="login">Log In</button>
        </div>
    </form>
    <div>
        <small>
            Don't have an account yet?<a href="{% url 'signup' %}">Sign up</a>
        </small>
    </div>
</div>




{% endblock main %}