{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block title %}signin{% endblock title %}
{% block main %}

<div>
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Log In Now</legend>
            {{ form|crispy }}
        </fieldset>
        <div>
            <button type="submit">Log In</button>
        </div>
    </form>
    <div>
        <small>
            Don't have an account yet?<a href="{% url 'signup' %}">Sign up</a>
        </small>
    </div>
</div>

{% if form.errors %}
<script>    
    document.addEventListener('DOMContentLoaded', function() {
        Swal.fire({
            icon: 'error',
            title: 'Login Failed',
            text: 'Please check your input',
            showConfirmButton: false,
            timer: 2000
        });
    });
</script>
{% endif %}
{% endblock main %}