{% extends 'frontend.html' %}
{% block content %}
<div class="container max-w-md p-6 mx-auto mt-10 bg-white rounded-lg shadow-md">
    <div class="mb-6 text-center">
        <h2 class="text-2xl font-bold">更新個人訊息</h2>
    </div>
    <form method="post" class="space-y-4">
        {% csrf_token %}
        
        <!-- Custom rendering of form fields with TailwindCSS -->
        <div class="mb-4">
            <label for="id_username" class="block text-sm font-medium text-gray-700">用戶名</label>
            <input type="text" name="username" id="id_username" value="{{ form.username.value }}" class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <p class="mt-2 text-sm text-gray-500">必填。150 個字符或更少。僅限字母、數字和 @/./+/-/_ 符號</p>
        </div>
        <div class="mb-4">
            <label for="id_email" class="block text-sm font-medium text-gray-700">電子郵件</label>
            <input type="email" name="email" id="id_email" value="{{ form.email.value }}" class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <p class="mt-2 text-sm text-gray-500">請輸入有效的電子郵件地址</p>
        </div>
        
        <div class="flex justify-end space-x-4">
            <a href="{% url 'users:password_change' %}" class="px-4 py-2 text-white bg-pink-400 rounded hover:bg-pink-600">更改密碼</a>
            <button type="submit" class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-700">更新</button>
        </div>
    </form>
</div>
{% endblock %}
