{% extends 'frontend.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mx-auto max-w-lg mt-8">
        <div class="flex justify-center">
            <div class="w-full">
                <div class="header-bar flex justify-start items-center bg-user-blue text-white p-4 rounded-t-md">
                    <a href="{% url 'resumes:works' resume_id %}" class="text-white">&#8592;Back</a>
                </div>
                <div class="card-body p-4 shadow-md mt-4">
                    <h3 class="text-lg font-semibold mb-4">編輯專案內容</h3>
                    <form method="post" id="myForm" action="{% url 'works:work_edit' work.pk %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="flex justify-end">
                            <button type="submit" class="button user-sm-btn me-2">提交</button>
                            </form>
                            <form method="post" action="{% url 'works:work_delete' work.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="button user-sm-btn">刪除</button>
                            </form>
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div>
{% endblock %}