{% extends 'my_base.html' %}

{% block content %}
    <div class="header-bar">
        <a href="{% url 'resumes:index' %}">&#8592;Back</a>
        <br>
        <a href="{% url 'resumes:edu'%}" class="edu">Create Education&#43;</a>
        <a href="{% url 'resumes:work'%}">Create Work&#43;</a>
        <a href="{% url 'resumes:project'%}">Create Projects&#43;</a>
    </div>
    <div class="card-body">
        <h1>我的個人信息</h1>
        <p><i>點擊姓名進入編輯</i></p>
        <section>
            <div>
                姓名：<strong><a href="{% url 'resumes:edit' pk=profile.pk %}">{{ profile.name }}</a></strong>
                <p>性別：{{ profile.gender }}</p>
                <p>生日：{{profile.birthday}}</p>
                <p>電子信箱：{{profile.email}}</p>
                <p>手機：{{profile.phone_number}}</p>
                <p>地址：{{profile.address}}</p>
                <p>技能：{{profile.skills}}</p>
                <p>個人網站：{{profile.website}}</p>
                <p>工作經驗：{{profile.experience}}</p>
                <p>Linkedin：{{profile.linkedin}}</p>
                <p>GitHub：{{profile.github}}</p>
            </div>
        </section>
    </div>
{% endblock %}






